@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Lobster&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+AT+Guides:ital@0;1&family=Playwrite+ES+Deco+Guides&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

:root {
    /*Cores*/
    --primary-color: #070F2B;
    --secondary-color: #1B1A55;
    --tertiary-color: #535C91;
    --quaternary-color: #9290C3;

    --bg-color-default: #191A1E;

    --black : #0e0e0e;
    --white : #eeeeee;

    /*Fontes*/
    --title-1: 'Playfair Display', serif;
  }

 /* utilites-class */

.invisible {
    background-color: #ad0d0d96;
    color: red!important;
}

.title-1{
    font-family: var(---title-1);
    font-size: 2rem !important;
    color: var(--white);

}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ecf0f1;
  }
